<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Today is <%= kindOfDay %></h1>
    <p>Why are you not <%= work %></p>
    <ul>
        <li>harsh</li>
        <li>gimrish</li>
        <li>krish</li>
        <li>kush</li>
        <li><%= nameList %> </li>
    </ul>

    <form action="/" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Submit">
    </form>

</body>
</html>